
input{
  margin-bottom: 10px;
  font-size: 25px;
  padding: 0px 5px;
  text-align: center;
  border: none;
  //border-radius: 10px;
  border-bottom: 1px solid #2d4860;
  //border-right: 3px solid #2d4860;

}

