.container {
  position: relative;
  font-family: "Jura", sans-serif;

  background: #afb4b6;
  border: 1px solid black;

  max-width: 700px;
  min-width: 350px;


  min-height: 200px;
  margin: auto;
  padding: 25px 20px;

}