
.new {
  margin-top: 30px;
  text-align: center;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

}
.btnDeactive{
  pointer-events: none;
}
.text {
  margin-bottom: 5px;
}
.abc {
  background-color: #2f86a6;
  color: #f0e9d2;
  padding: 10px;
  border-radius: 20px;
  max-width: 400px;
  min-width: 360px;
  font-family: "Merriweather", serif;
  font-size: 15px;
  text-align: center;
  transition-duration: 0.4s;

}
.abcRed{
  background: red;
  transition-duration: 0.4s;

}
img {
  margin-top: 10px;
  width: 30px;
}

