.new {
  margin-top: 30px;
  text-align: center;
  img {
    margin-top: 10px;
    width: 35px;
  }
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

}
.btnDeactive{
  pointer-events: none;
}
.text {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
}
.abc {
  display: inline-block;
  background: #a6abad;
  padding: 10px;
  border: none;
  border-bottom: 2px solid black ;
  font-family: "Merriweather", serif;
  font-size: 15px;
  text-align: center;
  transition-duration: 0.4s;

}
.abcRed{
  background: rgba(250,0,0,0.3);
  transition-duration: 0.4s;

}
